/* You can add global styles to this file, and also import other style files */

.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background-color: gray !important;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}
// .vis-rolling-mode-btn {
//   display: none;
// }

html,
body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vis-rolling-mode-btn {
  display: none !important;
}

.vis-custom-time.hoverBarId {
  background-color: #88ff7d !important;
  z-index: 3 !important;
}
