<div class="container-fluid row m-0 p-0 ms-5 my-3">
  <mat-form-field class="col-3">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button class="col-1 btn-small" (click)="revert()" [disabled]="!hasMoved">
    Revert
  </button>
</div>
<div id="timeline"></div>
<div class="h3 mt-4">Total : {{ visTimelineGroups.length }} cars</div>
