<h3 mat-dialog-title>Selected Item</h3>
<mat-dialog-content>
  <table class="table table-borderless">
    <thead>
      <tr class="">
        <th class="col-4"></th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ slot.id }}</td>
      </tr>
      <tr>
        <td>Order ID</td>
        <td>{{ slot.orderId }}</td>
      </tr>
      <tr>
        <td>Car Name</td>
        <td>{{ slot.carName }}</td>
      </tr>
      <tr>
        <td>Car ID</td>
        <td>{{ slot.carId }}</td>
      </tr>
      <tr>
        <td>Start at</td>
        <td>{{ slot.start }}</td>
      </tr>
      <tr>
        <td>End at</td>
        <td>{{ slot.end }}</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
